* {
    margin: 0%;
    padding: 0%;
    background-color: #878787;
    
}
body{
    height: max-content;
    width: 100%;
    align-items: center;
}
.board {
    width: 500px;
    height: 500px;
    display: grid;
    margin: 25px;
    box-shadow: 10px 10px 5px #aaaaaa;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.buttons{
    display: flex;
    align-items: center;
}